
.content{
    padding-top: 70px;
}
 
  /*card*/
  .img-card{
    border-top-left-radius : 5%;
    border-top-right-radius : 5%;
    width : 100%;
    height : fit-content;
    object-fit : cover; 
  }
  #product_card{
    border-radius : 5%;
    color: black;
  }
  #product_card h5{
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  .content{
    padding-bottom: 50px;
  }
  
