
.content{
    padding-top: 70px;
}
 
  /*card*/
  .img-card{
    border-top-left-radius : 5%;
    border-top-right-radius : 5%;
    width : 100%;
    height : fit-content;
    object-fit : cover; 
  }
  #product_card{
    border-radius : 5%;
    color: black;
  }
  #product_card h5{
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  .content{
    padding-bottom: 50px;
  }
  

  
  #myform {
    text-align: center;
    padding: 5px;
    margin: 2%;
  }
  .qty {
    width: 40px;
    height: 25px;
    text-align: center;
		margin-left: 0.8rem;
		margin-right: 0.8rem;
  }
  input.qtyplus {
    width:45px;
    height:45px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    background: #F28123;
    box-shadow: 0 0 3px gray;
  }
  input.qtyminus {
    width:45px;
    height:45px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    background: #F28123;
    box-shadow: 0 0 3px gray;
  }

  input.qtyplus:hover{
    background: #051922;
  }

  input.qtyminus:hover{
    background: #051922;
  }